* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: getColour(text);
}

.flex-container {
  min-height: 100vh;
}

.flex-container nav {
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: right;
  margin-bottom: 0;
}

.flex-container nav ul li {
  list-style: none;
}

.flex-container nav ul li .active {
  font-weight: bold;
  color: #8288da;
}

.flex-container nav ul li a {
  color: #707070;
  text-decoration: none;
}

.flex-container nav ul li img {
  width: 25px;
}

.flex-container nav .burger {
  display: none;
  cursor: pointer;
}

.flex-container nav .burger div {
  width: 27px;
  height: 2px;
  background-color: #707070;
  margin: 6px;
}

@media (max-width: 700px) {
  .flex-container {
    overflow-x: hidden;
    position: relative;
  }
  .flex-container nav ul {
    position: absolute;
    z-index: 1;
    width: 100%;
    right: 0;
    top: 6vh;
    height: 94vh;
    background-color: #d3d5ec;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .flex-container nav ul li {
    opacity: 0;
  }
  .flex-container nav .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

@-webkit-keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 4px);
          transform: rotate(-45deg) translate(-7px, 4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-7px, -5px);
          transform: rotate(45deg) translate(-7px, -5px);
}

.front-page-text {
  color: #000000;
}

.front-page-text .big-text {
  font-size: 2rem;
}

#about-btn {
  text-decoration: none;
  color: #000000;
  border: 3px solid #8288da;
  background-color: #d3d5ec;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 50px;
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary {
  background-color: #8288da;
  border: none;
  border-radius: 15px;
  padding: 5px 25px;
  margin: 0 20px;
}
/*# sourceMappingURL=style.css.map */