:root {
  --text: #707070;
  --text-black: #000000;
  --background: #ffffff;
  --background-secondary: #ffffff;
}

.dark-mode {
  --text: #ffffff;
  --text-black: #ffffff;
  --background: #212121;
  --background-secondary: #5a5a5a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h3 {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
  font-family: "Lora", serif;
}

h2 {
  color: var(--text);
  margin: 40px auto;
}

h3 {
  max-width: 500px;
  margin: 50px auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#home {
  color: var(--text);
  text-align: center;
  text-decoration: underline;
  font-size: 1.1rem;
}

@media (max-width: 700px) {
  h3 {
    max-width: 400px;
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  h3 {
    max-width: 280px;
  }
}

footer {
  background-color: #e4e4e4;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  padding: 20px 0;
  margin-top: 100px;
}

footer p {
  margin: 0;
}

.flex-container {
  min-height: 100vh;
}

.flex-container nav {
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
  margin-left: 50%;
}

.flex-container nav ul li {
  list-style: none;
}

.flex-container nav ul li .active {
  font-weight: bold;
  color: #8288da;
}

.flex-container nav ul li a {
  color: var(--text);
  text-decoration: none;
  letter-spacing: 1px;
}

.flex-container nav ul li img {
  width: 25px;
  cursor: pointer;
}

.flex-container nav ul li:hover {
  color: #8288da;
  text-decoration: underline;
}

.flex-container nav .burger {
  display: none;
  z-index: 4;
  cursor: pointer;
}

.flex-container nav .burger div {
  width: 27px;
  height: 2px;
  background-color: var(--text);
  margin: 6px;
}

@media (max-width: 700px) {
  .flex-container {
    overflow-x: hidden;
    position: relative;
  }
  .flex-container nav ul {
    position: absolute;
    z-index: 3;
    width: 100%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #d3d5ec;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    padding: 0;
  }
  .flex-container nav ul li {
    opacity: 0;
  }
  .flex-container nav ul li .active {
    color: var(--text);
    font-weight: normal;
    text-decoration: underline;
  }
  .flex-container nav .burger {
    display: block;
    margin: 10px;
  }
}

.nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

@-webkit-keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 4px);
          transform: rotate(-45deg) translate(-7px, 4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-7px, -5px);
          transform: rotate(45deg) translate(-7px, -5px);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.container .front-page-text {
  color: var(--text-black);
  position: relative;
  z-index: 2;
  top: 20px;
}

.container .front-page-text .big-text {
  font-size: 2rem;
}

.container #about-btn {
  text-decoration: none;
  color: var(--text-black);
  border: 3px solid #8288da;
  background-color: #d3d5ec;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 10px;
}

.container .circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #d3d5ec;
  position: static;
  margin-left: -100px;
  margin-top: 50px;
  z-index: 1;
}

.container .circle:hover {
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
}

@media (max-width: 1000px) {
  .container .front-page-text .small-text {
    font-size: 1rem;
  }
  .container .front-page-text .big-text {
    font-size: 1.6rem;
  }
  .container .front-page-text #about-btn {
    font-size: 1rem;
  }
  .container .circle {
    width: 270px;
    height: 270px;
    margin-left: -80px;
  }
}

@media (max-width: 780px) {
  .container .front-page-text .small-text {
    font-size: 0.6rem;
  }
  .container .front-page-text .big-text {
    font-size: 1.2rem;
  }
  .container .front-page-text #about-btn {
    font-size: 0.8rem;
    padding: 5px 13px;
    border: 2px solid #8288da;
    border-radius: 15px;
  }
  .container .circle {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
}

@media (max-width: 450px) {
  .container .front-page-text .small-text {
    font-size: 0.6rem;
  }
  .container .front-page-text .big-text {
    font-size: 0.9rem;
  }
  .container .front-page-text #about-btn {
    font-size: 0.8rem;
    padding: 5px 13px;
    border: 2px solid #8288da;
    border-radius: 15px;
    font-size: 0.7rem;
  }
  .container .circle {
    width: 150px;
    height: 150px;
  }
}

@-webkit-keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary {
  background-color: #8288da;
  border: none;
  border-radius: 15px;
  padding: 5px 25px;
  margin: 0 20px;
}

.btn-primary:hover {
  background-color: #d3d5ec;
}

.btn-primary:focus {
  display: none;
}

.card {
  border-radius: 30px;
  margin: 20px 0;
  max-width: 400px;
  z-index: 0;
  background-color: var(--background-secondary);
  color: var(--text);
}

.card img {
  border-radius: 30px 30px 0 0;
}

.card #carouselExampleIndicators button {
  z-index: 0.5;
}

.card .card-text span {
  text-decoration: underline;
}

.card:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.card-blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.col {
  margin: 0 auto;
}

.carousel-control-next-icon {
  fill: #8288da;
}

@media (max-width: 600px) {
  .card {
    max-width: 300px;
  }
  .card a {
    font-size: 0.8rem;
  }
  .card .btn-primary {
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .card {
    max-width: 250px;
  }
  .card .btn-primary {
    margin: 0 3px;
  }
}

.flex-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.flex-about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.flex-about .text-about {
  max-width: 500px;
  margin-left: 50px;
  color: var(--text);
}

.svg-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  margin: 10px 10%;
  background-color: var(--background-secondary);
  border-radius: 30px;
  padding: 20px 10px;
}

.svg-container .svg {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svg-container .svg p {
  color: var(--text);
  font-weight: bold;
}

.svg-container img {
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .flex-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-about img {
    display: block;
    margin: 0 auto;
  }
  .flex-about .text-about {
    margin: 40px auto 0 auto;
  }
  .svg-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .flex-about .text-about {
    max-width: 300px;
  }
  .svg-container {
    grid-gap: 15px;
  }
  .svg-container img {
    width: 60px;
  }
}

@media (max-width: 400px) {
  .flex-about img {
    width: 200px;
    height: 200px;
  }
  .flex-about .text-about {
    max-width: 260px;
  }
  .svg-container {
    grid-gap: 10px;
  }
  .svg-container img {
    width: 40px;
  }
  .svg-container p {
    font-size: 0.7rem;
  }
}

form {
  max-width: 450px;
  margin: 30px auto 0 auto;
  color: var(--text);
}

form div {
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  border: 2px solid #d3d5ec;
}

form button {
  background-color: #8288da;
  width: 100%;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
}

.form-wrapper {
  margin: 0 20px;
}

@media (max-width: 600px) {
  form {
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */