* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
}

h2 {
  color: var(--text);
  margin: 40px auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
