* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h3 {
  text-align: center;
  margin-top: 20px;
  color: var(--text);
  font-family: "Lora", serif;
}

h2 {
  color: var(--text);
  margin: 40px auto;
}

h3 {
  max-width: 500px;
  margin: 50px auto;
  font-family: "Source Sans Pro", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#home {
  color: var(--text);
  text-align: center;
  text-decoration: underline;
  font-size: 1.1rem;
}

@media (max-width: 700px) {
  h3 {
    max-width: 400px;
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  h3 {
    max-width: 280px;
  }
}
