.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .front-page-text {
    color: getColour(black);
    position: relative;

    .big-text {
      font-size: 2rem;
    }
    #about-btn {
      text-decoration: none;
      color: getColour(black);
      border: 3px solid getColour(dark-purple);
      background-color: getColour(light-purple);
      padding: 10px 20px;
      border-radius: 20px;
    }
  }
  .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: getColour(light-purple);
    position: static;
    margin-left: -100px;
    margin-top: 50px;
    z-index: -1;
    animation: bounce 1s linear;
  }
  .circle:hover {
    animation: bounce 1s linear;
  }
}

@media (max-width: 1000px) {
  .container {
    .front-page-text {
      .small-text {
        font-size: 1rem;
      }
      .big-text {
        font-size: 1.6rem;
      }
      #about-btn {
        font-size: 1rem;
      }
    }
    .circle {
      width: 270px;
      height: 270px;
      margin-left: -80px;
    }
  }
}

@media (max-width: 780px) {
  .container {
    .front-page-text {
      .small-text {
        font-size: 0.6rem;
      }
      .big-text {
        font-size: 1.2rem;
      }
      #about-btn {
        font-size: 0.8rem;
        padding: 5px 13px;
        border: 2px solid getColour(dark-purple);
        border-radius: 15px;
      }
    }
    .circle {
      width: 200px;
      height: 200px;
      margin-top: 0px;
    }
  }
}

@media (max-width: 450px) {
  .container {
    .front-page-text {
      .small-text {
        font-size: 0.6rem;
      }
      .big-text {
        font-size: 1rem;
      }
      #about-btn {
        font-size: 0.8rem;
        padding: 5px 13px;
        border: 2px solid getColour(dark-purple);
        border-radius: 15px;
      }
    }
    .circle {
      width: 150px;
      height: 150px;
    }
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}
